body{
    margin: 0%;
    background: #E5E5E5;
    border-top: 4px solid #FFBB12;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    margin-left: 15px;
    margin-right: 20px;  
    margin-bottom: 32px;
}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    width: 244px;
    left: 22px;
    top: 22px;
}
.fundo-da-página{
    background: white;
    width: 360px;
    height: 689px;
    margin-left: 20px;
    margin-right: 20px;  
}
fieldset{
    border: none;
}
.fundo{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 15px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
}
.detalhe-amarelo{
    background: #F9F8F6;
    border: 1px solid #FFBB12;
    box-shadow: 0px 0px 0px 2px #FFEEA9;
    border-radius: 5px;
    width: 320px;
    height: 44px;
}
.detalhe{
    background: #F9F8F6;
    border: 1px solid #E3E0DB;
    border-radius: 5px;
    width: 320px;
    height: 44px;
}
.detalhe-interno{
    background: #F9F8F6;
    border: 1px solid #E3E0DB;
    border-radius: 5px;
    margin-top: 10px;
    width: 148px;
    height: 44px;  
}
.divisão{
    display: flex;
    gap: 15px;
}
.termos{
    display: flex;
}
.seletor{
    background: #F9F8F6;
    border: 1px solid #E3E0DB;
    border-radius: 5px;
}
button{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background:#FFBB12;
    border-radius: 5px;
    width: 177px;
    height: 50px;
}
